<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Productos</h2>
    <button *ngIf="authService.hasAuthority('CREATE')" class="btn btn-success" (click)="createLog()">
      Nuevo Producto
    </button>
  </div>

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
  <div *ngIf="!loading" class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Inventario</th>
          <th>Creado en:</th>
          <th>Acciones</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of listadoLogs">
          <td>{{ log.id }}</td>
          <td>{{ log.name }}</td>
          <td>{{ log.description }}</td>
          <td>{{ log.price }}</td>
          <td>{{ log.stock }}</td>
          <td>{{ log.created_at | date: 'dd/MM/yyyy' }}</td>
          <!--<td>$ {{ log.price | number: '1.2-2' }}</td>-->

          <td>
            <button *ngIf="authService.hasAuthority('UPDATE')" class="btn btn-primary btn-sm me-2"
              (click)="editLog(log)">
              Editar
            </button>
            <button *ngIf="authService.hasAuthority('DELETE')" class="btn btn-danger btn-sm"
              (click)="eliminarLog(log.id)">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Template -->
<ng-template #logModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="logModalLabel">
      {{ isEditMode ? 'Editar Gasto' : 'Registrar nuevo Gasto' }}
    </h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Close">
    </button>
  </div>

  


  <div class="modal-body">
    <form [formGroup]="logForm">

      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" id="name" class="form-control" formControlName="name"
          [ngClass]="{ 'is-invalid': logForm.get('name')?.invalid && logForm.get('name')?.touched }" />
        <div *ngIf="logForm.get('name')?.invalid && logForm.get('name')?.touched" class="invalid-feedback">
          El nombre es requerido.
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea id="description" class="form-control" formControlName="description" rows="3"
          [ngClass]="{ 'is-invalid': logForm.get('description')?.invalid && logForm.get('description')?.touched }">
        </textarea>
        <div *ngIf="logForm.get('description')?.invalid && logForm.get('description')?.touched" class="invalid-feedback">
          La descripción es requerida.
        </div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input type="number" id="price" class="form-control" formControlName="price"
          [ngClass]="{ 'is-invalid': logForm.get('price')?.invalid && logForm.get('price')?.touched }" />
        <div *ngIf="logForm.get('price')?.invalid && logForm.get('price')?.touched" class="invalid-feedback">
          El precio debe ser un valor positivo.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="stock" class="form-label">Inventario</label>
        <input type="number" id="stock" class="form-control" formControlName="stock"
          [ngClass]="{ 'is-invalid': logForm.get('stock')?.invalid && logForm.get('stock')?.touched }" />
        <div *ngIf="logForm.get('stock')?.invalid && logForm.get('stock')?.touched" class="invalid-feedback">
          El inventario debe ser mayor o igual a 0.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="created_at" class="form-label">Fecha de Creación</label>
        <input type="date" id="created_at" class="form-control" formControlName="created_at"
          [ngClass]="{ 'is-invalid': logForm.get('created_at')?.invalid && logForm.get('created_at')?.touched }" />
        <div *ngIf="logForm.get('created_at')?.invalid && logForm.get('created_at')?.touched" class="invalid-feedback">
          La fecha de creación es requerida.
        </div>
      </div>

      
    </form>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
      Cancelar
    </button>
    <button type="button" class="btn btn-primary" [disabled]="logForm.invalid" (click)="onSubmitLog(modal)">
      {{ isEditMode ? 'Actualizar Gasto' : 'Registrar Gasto' }}
    </button>
  </div>
</ng-template>

