<div class="credits-container d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="credits-card card shadow-lg p-4 rounded-lg" style="max-width: 500px;">
    <div class="image-placeholder text-center mb-4">
      <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png" alt="Developer Icon"
        class="placeholder-icon img-fluid rounded-circle border border-primary" style="width: 120px; height: 120px;">
    </div>
    <div class="credits-content text-center">
      <h1 class="display-4 text-bg-dark">Desarrollado por: </h1>
      <h2 class="h3 text-dark">{{ developer.name }}</h2>
      <h3 class="h5 text-muted">{{ developer.group }}</h3>
      <h3 class="h5 text-muted">{{ developer.email }}</h3>
    </div>
  </div>
</div>