<div class="credits-container d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="credits-card card shadow-lg p-4 rounded-lg" style="max-width: 500px;">
    <div class="image-placeholder text-center mb-4">
      <img src="https://i.pinimg.com/236x/1e/a4/d2/1ea4d293d151ff7c9ce0620ef03ed740.jpg" alt="Developer Icon"
        class="placeholder-icon img-fluid rounded-circle border border-primary" style="width: 120px; height: 120px;">
    </div>
    <div class="credits-content text-center">
      <h1 >Desarrollado por: 
      <h2>{{ developer.name }}</h2>
      <h3>{{ developer.group }}</h3>
      <h3>{{ developer.email }}</h3>
      </h1>
    </div>
  </div>
</div>